/* ### -- -- -- -- -- category -- -- -- -- -- ### */
.wikiCategoryListIndex {
  .wikiCategory {
    &:hover {
      background-color: @wcfContainerHoverBackgroundColor;
    }
  }

  .subCategory > li{
    display: inline-block;
  }
}

.overflow {
  overflow: auto !important;
}

#articleLabelFilter {
    margin-bottom: @wcfGapMedium;
}

.articleLabelList {
    margin-bottom: @wcfGapMedium;

    li:not(:last-child) {
        margin-bottom: @wcfGapTiny;
    }

    &~small {
        display: block;
    }
}

/* user information */
.articleInformation {
    > div > h2,
    > .inlineDataList,
    > .dataList {
        font-size: @wcfSmallFontSize;
    }
}

.articlePreview {
    position: relative;

    > .articleInformation {
        padding-bottom: 16px;// + @wcfGapTiny;

        > .inlineDataList,
        > .dataList {
            margin-bottom: @wcfGapTiny;
            padding-top: @wcfGapTiny;
            border-top: 1px dotted @wcfContainerBorderColor;
        }

        > .dataList {
            padding-bottom: @wcfGapTiny;
            border-bottom: 1px dotted @wcfContainerBorderColor;
        }

        > .buttonList {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}


/* ### -- -- -- -- -- category article list -- -- -- -- -- ### */
.wikiArticleList {
  .wikiArticle1 {
    background-color: @wcfContainerBackgroundColor;
  }

  .wikiArticle2 {
    background-color: @wcfContainerAccentBackgroundColor;
  }

  .wikiArticle {
    &:hover {
      background-color: @wcfContainerHoverBackgroundColor;
    }
  }

  .wikiArticleDeleted {
    .boxShadow(0, 0, @wcfErrorBackgroundColor, 10px);
  }
}

@media only screen and (max-width: 768px) {
    .articleList {
        thead {
            display: none;
        }

        tbody {
            .columnMark,
            .columnComments,
            .columnUsername,
            .columnLastPost,
            .columnCategory,
            .columnSubject .statusDisplay {
                display: none;
            }
        }
    }
}
